
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>

    <section class="containerAddAdministratorForm">

      <h1>Ajouter administrateur</h1>
      <a href="{{ path('admin') }}" class="adminBtn">Retourner à l'accueil</a>

        {{ form_start(form) }}
          {{ form_row(form.pseudo) }}
          {{ form_row(form.username) }}
          {{ form_row(form.email) }}
          {{ form_row(form.password.first) }}
          {{ form_row(form.password.second) }}
          <input type="submit" value="Je m'inscrit">
        {{ form_end(form) }}
      

    </section>



  </main>



{% endblock %}



