
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->

  <main>

    <section class="containerArticle">

      <h1>{{ article.title }}</h1>

      <article>
        <img src="{{ asset('uploads/' ~ article.pathImg) }}" alt="title-img">
        <span class="asideInfosArticle">Le {{ article.date|date('d/m/Y') }} par {{ article.author }}</span>
        <div class="contentArticle">
          {{ article.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|striptags('<p><strong><br>')|raw  }}
        </div>
      </article>

      <div class="asideContainer">
        <aside>
          <h3>Derniers articles</h3>
          <ul>
              {% if lastArticles is defined %}

                  {% for lastArticle in lastArticles %}

                    <li>
                      <a href="{{ path('article', {'category' : lastArticle.category|replace({ 'é' : 'e' }), 'id' : lastArticle.id , 'slug' : lastArticle.slug}) }}">
                        {{ lastArticle.title }}
                      </a>
                    </li>

                  {% endfor %}

              {% endif %}
          </ul>
        </aside>
        <aside>
          <h3>Catégories</h3>
          <ul>
            <li>HTML5 - CSS 3</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Toto</li>
            <li>toto</li>
            <li>toto</li>
          </ul>
        </aside>
        <aside class="asidebarSocialNetwork">
          <h2>Suivez-nous</h2>
          <div>
            <a href="">
              <img src="{{ asset('./img/facebook.png') }}" alt="facebook">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{{ asset('./img/twitter.png') }}" alt="facebook">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{{ asset('./img/google-plus.png') }}" alt="facebook">
            </a>
          </div>
        </aside>

      </div>
    </section>

    <h2>Autres articles</h2>

    <section class="othersArticlesContainer">

        {% if lastArticles is defined %}

            {% for otherArticle in othersArticles %}

              <div class="othersArticle">
                <a href="{{ path('article', {'category' : otherArticle.category|replace({ 'é' : 'e' }), 'id' : otherArticle.id , 'slug' : otherArticle.slug}) }}">
                  <figure>
                    <div class="truncateAsideWrapperImg">
                      <img src="{{ asset('uploads/' ~ otherArticle.pathImg) }}" alt="{{ otherArticle.title }}">
                    </div>
                    <figcaption>
                      <h3>{{ otherArticle.title }}</h3>
                    </figcaption>
                  </figure>
                </a>
              </div>

            {% endfor %}

        {% endif %}

    </section>

  </main>



{% endblock %}



