
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>
    <section class="sectionHomeOne">

        {{ dump() }}

        <div class="leftBloc">

        {% if lastArticle is defined %}

          <article class="lastestArticle">
            <figure>
              <img src="{{ asset('uploads/' ~ lastArticle.pathImg) }}" />
              <figcaption>
                <span class="catFigCaption"><strong>A la une </strong>| {{ lastArticle.category }}</span>
                <h1>{{ lastArticle.title }}</h1>
                <p>{{ lastArticle.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,150)|striptags('p')|raw }}...</p>
                <span class="dateFicaption">Le {{ lastArticle.date|date('d M Y') }}</span>
              </figcaption>
            </figure>
          </article>

        {% endif %}


        </div>
        <div class="rightBloc">

        {% if rightArticles is defined %}

            {% for articleRight in rightArticles %}


                    <div class="asideArticle">
                        <figure>
                            <div class="truncateWrapperImg rightBlocsWidth">
                                <img src="{{ asset('uploads/' ~ articleRight.pathImg) }}" />
                            </div>
                            <figcaption>
                                <h3 class="asideArticleTitle">{{ articleRight.title }}</h3>
                                <span class="dateFicaption">Le {{ articleRight.date|date('d M Y') }} par {{ articleRight.author }}</span>
                            </figcaption>
                        </figure>
                    </div>



            {% endfor %}

        {% endif %}

        </div>

        <!-- attention répétion -->


    </section>

    <section class="sectionHomeTwo">

      	<h2>Articles populaires</h2>

    	<div class="divFlexWrapper">

            {% if popularArticles is defined %}

                {% for popular in popularArticles %}

                    <article class="asidePopularArticle">
                        <figure>
                            <div class="truncateWrapperImg">
                                <img src="{{ asset('uploads/' ~ popular.pathImg) }}" alt="popular-artilce-blog" class="truncateImg">
                            </div>
                            <figcaption>
                                <h3>{{ popular.title }}</h3>
                                <p>{{ popular.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                            </figcaption>
                        </figure>
                    </article>

                {% endfor %}

            {% endif %}

	  	</div>

    </section>



    <section class="sectionHomeThree">

        <h2>Médias</h2>

    	<div class="divFlexWrapper">

            {% if videos is defined %}

                {% for video in videos %}

                    <article class="videoBlock">
                        <figure>
                            <div class="truncateWrapperImgVideo">
                                <img src="{{ asset('uploads/' ~ video.pathImg) }}" class="videoBlockImg">
                            </div>
                            <figcaption class="figcaptionVideo">
                                <span class="catFigCaption" ><strong>Ressources |</strong> {{ video.category }} </span>
                                <h3>{{ video.title }}</h3>
                                <p>{{ video.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                            </figcaption>
                        </figure>
                    </article>

                {% endfor %}

            {% endif %}


  		</div>


    </section>



    <section class="sectionHomeFour">

        <div class="wrapperTutorialBlocks">
            <div id="hWrapperLeft">
                <h2>Tutoriels</h2>
            </div>

            {% if tutorials is defined %}

                {% for tutorial in tutorials %}


                    <article class="tutorialBlock">
                        <div class="tutorialBlockImg">
                            <img src="{{ asset('uploads/' ~ tutorial.pathImg) }}" alt="articles-populaire">
                        </div>
                        <div class="tutorialBlockContent">
                            <h3>{{ tutorial.title }}</h3>
                            <p>{{ tutorial.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                        </div>
                    </article>

                {% endfor %}

            {% endif %}



        </div>

        <div class="wrapperSurveyBlocks">

            <div id="hWrapperRight">
                <h2>Étude de marché</h2>
            </div>

            {% if surveys is defined %}

                {% for survey in surveys %}

                    <aside class="surveyBlock">
                        <figure>
                            <img src="http://clamps.sa.utoronto.ca/wp-content/blogs.dir/139/files/2017/12/Feedback.jpg" alt="popular-artilce-blog">
                            <figcaption>
                                <h3>{{ survey.title }}</h3>
                                <p>{{ survey.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}... </p>
                            </figcaption>
                        </figure>
                    </aside>

                {% endfor %}

            {% endif %}


        </div>

    </section>

    <section class="sectionHomeFive">
    </section>



  </main>



{% endblock %}



