
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>
    <section class="sectionHomeOne">

        <div class="leftBloc">

            {% if lastArticle is defined %}

              <article class="lastestArticle">
                  <a href="{{ path('article', {'category' : lastArticle.category, 'id' : lastArticle.id , 'slug' : lastArticle.slug}) }}">
                    <figure>
                      <img src="{{ asset('uploads/' ~ lastArticle.pathImg) }}" />
                      <figcaption>
                        <span class="catFigCaption"><strong>A la une </strong>| {{ lastArticle.category }}</span>
                        <h1>{{ lastArticle.title }}</h1>
                        <p>{{ lastArticle.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,150)|striptags('p')|raw }}...</p>
                        <span class="dateFicaption">Le {{ lastArticle.date|date('d M Y') }}</span>
                      </figcaption>
                    </figure>
                  </a>
              </article>

            {% endif %}

        </div>

        <div class="rightBloc">

            {% if rightArticles is defined %}

                {% for articleRight in rightArticles %}

                        <article class="asideArticle">
                            <a href="{{ path('article', {'category' : articleRight.category, 'id' : articleRight.id , 'slug' : articleRight.slug}) }}">
                                <figure>
                                    <div class="truncateWrapperImg rightBlocsWidth">
                                        <img src="{{ asset('uploads/' ~ articleRight.pathImg) }}" />
                                    </div>
                                    <figcaption>
                                        <h3 class="asideArticleTitle">{{ articleRight.title }}</h3>
                                        <span class="dateFicaption">Le {{ articleRight.date|date('d M Y') }} par {{ articleRight.author }}</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>


                {% endfor %}

            {% endif %}

        </div>

    </section>

    <section class="sectionHomeTwo">

      	<h2>Articles populaires</h2>

    	<div class="divFlexWrapper">

            {% if popularArticles is defined %}

                {% for popular in popularArticles %}

                    <article class="asidePopularArticle">
                        <a href="{{ path('article', {'category' : popular.category, 'id' : popular.id , 'slug' : popular.slug}) }}">
                            <figure>
                                <div class="truncateWrapperImg">
                                    <img src="{{ asset('uploads/' ~ popular.pathImg) }}" alt="popular-artilce-blog" class="truncateImg">
                                </div>
                                <figcaption>
                                    <h3>{{ popular.title }}</h3>
                                    <p>{{ popular.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                                </figcaption>
                            </figure>
                        </a>
                    </article>

                {% endfor %}

            {% endif %}

	  	</div>

    </section>

    <section class="sectionHomeThree">

        <h2>Médias</h2>

    	<div class="divBlockWrapper">

            {% if videos is defined %}

                {% for video in videos %}


                    <article class="videoBlock">
                        <a href="{{ path('article', {'category' : video.category|replace({ 'é' : 'e' }), 'id' : video.id , 'slug' : video.slug}) }}">
                            <figure>
                                <div class="truncateWrapperImgVideo">
                                    <img src="{{ asset('uploads/' ~ video.pathImg) }}" class="videoBlockImg">
                                </div>
                                <figcaption class="figcaptionVideo">
                                    <span class="catFigCaption" ><strong>Ressources |</strong> {{ video.category }} </span>
                                    <h3>{{ video.title }}</h3>
                                    <p>{{ video.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                                </figcaption>
                            </figure>
                        </a>
                    </article>

                {% endfor %}

            {% endif %}

  		</div>

    </section>

    <section class="sectionHomeFour">

        <div class="wrapperTutorialBlocks">
            <div id="hWrapperLeft">
                <h2>Tutoriels</h2>
            </div>

            {% if tutorials is defined %}

                {% for tutorial in tutorials %}

                    <article class="tutorialBlock">
                        <a href="{{ path('article', {'category' : tutorial.category, 'id' : tutorial.id , 'slug' : tutorial.slug}) }}">
                        <figure>
                            <div class="tutorialBlockImg">
                                <img src="{{ asset('uploads/' ~ tutorial.pathImg) }}" alt="articles-populaire">
                            </div>
                            <figcaption>
                                <div class="tutorialBlockContent">
                                    <h3>{{ tutorial.title }}</h3>
                                    <p>{{ tutorial.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}...</p>
                                </div>
                            </figcaption>
                        </figure>
                        </a>
                    </article>

                {% endfor %}

            {% endif %}



        </div>

        <div class="wrapperSurveyBlocks">

            <div id="hWrapperRight">
                <h2>Étude de marché</h2>
            </div>

            {% if surveys is defined %}

                {% for survey in surveys %}

                    <aside class="surveyBlock">
                        <a href="{{ path('article', {'category' : survey.category, 'id' : survey.id , 'slug' : survey.slug}) }}">
                            <figure>
                                <img src="{{ asset('uploads/' ~ survey.pathImg) }}" alt="popular-artilce-blog">
                                <figcaption>
                                    <h3>{{ survey.title }}</h3>
                                    <p>{{ survey.content|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0,200)|striptags('p')|raw }}... </p>
                                </figcaption>
                            </figure>
                        </a>
                    </aside>

                {% endfor %}

            {% endif %}


        </div>

    </section>

    <section class="sectionHomeFive">

        <div id="mainContainer">

            <div class="sliderTitle">
                <h2>Vous avez peut-être raté :</h2>
            </div>

            <div id="sliderFix">

                {% if articlesCarrousel is defined %}

                    <div class="item">

                        {% for articleCarrousel in articlesCarrousel[0:3] %}

                            <a href="{{ path('article', {'category' : articleCarrousel.category|replace({ 'é' : 'e' }), 'id' : articleCarrousel.id , 'slug' : articleCarrousel.slug}) }}">
                                <div class="articleSlide">
                                    <div class="imgSlide">
                                        <img src="{{ asset('uploads/' ~ articleCarrousel.pathImg) }}" alt="">
                                    </div>
                                    <div class="contentSlide">
                                        <div class="titleSlide">
                                            <h3>
                                                {{ articleCarrousel.title }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        {% endfor %}

                    </div>

                    <div class="item">

                        {% for articleCarrousel in articlesCarrousel[3:3] %}

                            <a href="{{ path('article', {'category' : articleCarrousel.category|replace({ 'é' : 'e' }), 'id' : articleCarrousel.id , 'slug' : articleCarrousel.slug}) }}">
                                <div class="articleSlide">
                                    <div class="imgSlide">
                                        <img src="{{ asset('uploads/' ~ articleCarrousel.pathImg) }}" alt="">
                                    </div>
                                    <div class="contentSlide">
                                        <div class="titleSlide">
                                            <h3>
                                                {{ articleCarrousel.title }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        {% endfor %}

                    </div>

                    <div class="item">

                        {% for articleCarrousel in articlesCarrousel[6:3] %}

                            <a href="{{ path('article', {'category' : articleCarrousel.category|replace({ 'é' : 'e' }), 'id' : articleCarrousel.id , 'slug' : articleCarrousel.slug}) }}">
                                <div class="articleSlide">
                                    <div class="imgSlide">
                                        <img src="{{ asset('uploads/' ~ articleCarrousel.pathImg) }}" alt="">
                                    </div>
                                    <div class="contentSlide">
                                        <div class="titleSlide">
                                            <h3>
                                                {{ articleCarrousel.title }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>

            <div id="sliderFixResonsive">

                {% if articlesCarrousel is defined %}

                    <div class="item">

                        {% for articleCarrousel in articlesCarrousel[0:3] %}

                            <div class="articleSlide">
                                <div class="imgSlide">
                                    <img src="{{ asset('uploads/' ~ articleCarrousel.pathImg) }}" alt="">
                                </div>
                                <div class="contentSlide">
                                    <div class="titleSlide">
                                        <h3>
                                            {{ articleCarrousel.title }}
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>

        </div>
    </section>



  </main>



{% endblock %}



