
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

  <main>

    <section class="sectionAll">
      <h1>Utilisateurs inscrits</h1>

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

        <form action="{{ path('admin_all_users', { page : 1 }) }}" method="post" class="filterFormUsers">
            <select name="category" class="filterFormSelect">
                <option value="">Sans filtre</option>
                {% if cat is defined and cat == 'role-user'  %}
                    <option value='role-user' selected>
                        Membre
                    </option>
                {% else %}
                    <option value='role-user'>
                        Membre
                    </option>
                {% endif %}
                {% if cat is defined and cat == 'role-admin'  %}
                    <option value='role-admin' selected>
                        Administrateur
                    </option>
                 {% else %}
                     <option value='role-admin'>
                         Administrateur
                     </option>
                {% endif %}
            </select>
            <input type="submit" id="filterCategoryBtn" class="filterFormSubmit">
        </form>

        <table style="width:100%">
            <thead>
                <tr>
                    <th class="colunmchild1">Email</th>
                    <th class="colunmchild2">Pseudo</th>
                    <th class="colunmchild3">Role</th>
                    <th class="colunmchild4">Date d'inscription</th>
                    <th class="colunmchild5">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                    <tr>
                        <td class="colunmchild1">{{ user.email }}</td>
                        <td class="colunmchild2">{{ user.username }}</td>

                        {% for role in user.roles %}

                            {% if role == 'ROLE_ADMIN' %}
                                <td class="colunmchild3">Administrateur</td>
                            {% else %}
                                <td class="colunmchild3">Membre</td>
                            {% endif %}

                        {% endfor %}

                        <td class="colunmchild4" >{{ user.date|date('d/M/Y') }}</td>
                        <td class="colunmchild5">
                            <ul>
                                <li class="liChildUsers">
                                    <a href="{{ path('admin_delete_user', { 'id' : user.id }) }}">
                                        <img src="{{ asset('img/delete.png') }}" alt="delete">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% include '@MyTechnosBlog/Back/Includes/pagination.html.twig' %}


    </section>

  </main>



{% endblock %}



