
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->

  <main>

    <section class="sectionAdminFirst">
      <h1>Interface d'administration</h1>
      <p>Bienvenue Admin</p>



      <div class="optionsHomeContainer">

      <a href="">
          <div class="optionsHome">
           <figure>
             <img src="{{ asset('./img/add-article.png') }}" alt="">
             <figcaption>
               <span>Ajouter un article</span>
             </figcaption>
           </figure>
          </div>
        </a>

        <a href="">
          <div class="optionsHome">
            <figure>
              <img src="{{ asset('./img/list.png') }}" alt="">
              <figcaption>
                <span> Voir tout les articles</span>
              </figcaption>
            </figure>
          </div>
        </a>

        <a href="">
          <div class="optionsHome">
            <figure>
              <img src="{{ asset('./img/category.png') }}" alt="">
              <figcaption>
                <span>Mes categories</span>
              </figcaption>
            </figure>
          </div>
        </a>

        <a href="">
          <div class="optionsHome">
            <figure>
              <img src="{{ asset('./img/comment.png') }}" alt="">
              <figcaption>
                <span>Derniers commentaires</span>
              </figcaption>
            </figure>
          </div>
        </a>

        <a href="">
          <div class="optionsHome">
            <figure>
              <img src="{{ asset('./img/users.png') }}" alt="">
              <figcaption>
                <span> Mes utilisateurs</span>
              </figcaption>
            </figure>
          </div>
        </a>


        <a href="">
          <div class="optionsHome">
              <figure>
                <img src="{{ asset('./img/admin.png') }}" alt="">
                <figcaption>
                  <span>Ajouter un administrateur</span>
                </figcaption>
              </figure>
          </div>
        </a>

      </div>

    </section>

  </main>



{% endblock %}



