<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>Mon blog Technos</title>
    <meta charset="UTF-8">
    <meta name="description" content="Retrouvez les différentes infos sur les langages des programmations">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block stylesheets %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    {% endblock %}

</head>

<body>
    <div id="coverSearch">
        <form action="https://monblogtechnos.fr/search" method="get">

            <img src="{{ asset('./img/cancel.png') }}" class="jsBtnSearch handleResponsive" alt="crossBtn">

            <label>Rechercher des articles :</label>
            <input type="text" name="query" id="search">

        </form>
    </div>
    <div class="menuResponsive" id="menuJsResponsive">
        <img src="{{ asset('./img/cancel-white.png') }}" class="jsBtnCross" alt="crossBtn">
        <nav class="navHeaderResponsive">
            <ul>
                <li>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'javascript' }) }}">Javascript</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'php' }) }}">PHP</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'rubis' }) }}">Rubis</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'tutoriel' }) }}">Tutoriels</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'sondage' }) }}">Sondages</a>
                </li>
                <li>
                    <a href="{{ path('login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('registration') }}">S'inscrire</a>
                </li>
                <li class="jsBtnSearch">
                    <img src="{{ asset('./img/search.png') }}" alt="search">
                </li>
                <li class="jsBtnSearchResponsive">
                    <span>Rechercher</span>
                </li>
            </ul>
        </nav>
    </div>

  <header id="headerJs">
      <div>
        <div class="containerHeader">

            <div class="divLoginResgistration">

                {% if is_granted('ROLE_ADMIN') %}

                    <span>Vous êtes connecté {{ app.user.username }}</span>
                    <span><a href="{{ path('admin') }}">Revenir au back-office</a></span>

                {% elseif is_granted('ROLE_USER') %}

                    <span>Vous êtes connecté {{ app.user.username }}</span>
                    <span><a href="{{ path('logout') }}">Deconnexion</a></span>

                {% else %}

                <ul>
                    <li>
                        <a href="{{ path('login') }}">
                            Connexion
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('registration') }}">
                            S'inscrire
                        </a>
                    </li>
                </ul>

                {% endif %}

            </div>

        <img src="{{ asset('./img/menu-button-of-three-horizontal-lines.png') }}" id="btn-menu" class="jsBtnCross" alt="responsive-logo-mon-techno-blog">

        <div class="logoBlock">
            <a href="/">
                <img src="{{ asset('./img/Mon-blog-technos-white.png') }}" alt="MonBlogTechnos">
            </a>
        </div>

          <nav class="navHeader">
            <ul>
                <li>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'javascript' }) }}">Javascript</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'php' }) }}">PHP</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'rubis' }) }}">Rubis</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'tutoriel' }) }}">Tutoriels</a>
                </li>
                <li>
                    <a href="{{ path('category', { 'category' : 'sondage' }) }}">Sondages</a>
                </li>
                <li class="jsBtnSearch">
                  <img src="{{ asset('./img/search.png') }}" alt="search">
                </li>
            </ul>
          </nav>
        </div>
      </div>
  </header>
                          
  {% block main %}


  {% endblock %}

<footer>
    <div class="footerWrapper">
        <aside>
            <span>À propos</span>
           La programmation web est la programmation informatique qui permet d'éditer des sites web. Elle permet la mise en place d'applications constituées de pages pouvant prendre différentes formes, notamment :

           Un ensemble de pages « statiques », c'est-à-dire dont le contenu n'est pas influencé par l'internaute qui la demande, et qui n'évolue pas sans une intervention manuelle sur le code.
           Un ensemble de pages « dynamiques », c'est-à-dire dont le contenu évolue sans que le code du site web ne soit modifié, soit via l'interaction des utilisateurs, soit par du calcul. C'est le cas de la très large majorité des sites web depuis le début des années 2000.

        </aside>
        <ul>
            <li>Naviger</li>
            <li>
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('category', { 'category' : 'php' }) }}">PHP</a>
            </li>
            <li>
                <a href="{{ path('category', { 'category' : 'javascript' }) }}">Javascript
                </a>
            </li>
            <li>
                <a href="{{ path('category', { 'category' : 'rubis' }) }}">Rubis</a>
            </li>
            <li>
                <a href="{{ path('category', { 'category' : 'tutoriel' }) }}">Tutoriels</a>
            </li>
            <li>
                <a href="{{ path('category', { 'category' : 'sondage' }) }}">Sondages</a>
            </li>
        </ul>
        <ul>
            <li>Connect</li>
            <li>           
                <a href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/login?lang=fr">Twitter</a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=fr">Instagram</a>
            </li>
            <li>
                <a href="https://fr.linkedin.com/">Linkedin</a>
            </li>
        </ul>
    </div>

  <details>
    <summary>Copyright O.Y</summary>
  </details>

</footer>


</body>

  {% block javascripts %}

      <!-- jQuery library (served from Google) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
      
      {% if app.request.requestUri == '/' %}
        <script type="text/javascript" src="{{ asset(scriptPath) }}"></script>
      {% endif %}
      
  {% endblock %}


</html>


